<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<title>Cadastro de Usuários(CompSal)</title>
</head>
<body>
	<h1>Cadastre-se!</h1>
	<form method="post">
		<fieldset>
			<legend>Preecha os dados aqui como "usuário" do sistema.</legend>
			<p>
			<div align="left">
				<p>
					Matricula: <input type="text" name="matricula" />
				<P>
					Nome: <input type="text" id="nome" required="required" name="nome"
						pattern="[a-z\s]+$" />
				<p>
					Rg: <input type="text" required="required" id="rg" name="rg"
						pattern="[0-9]+$" />
				<p>
					Cpf: <input type="text" required="required" name="cpf" id="cpf"
						pattern="[0-9]+$" />
				<p>
					Idade: <input type="text" required="required" name="idade"
						id="idade" pattern="[0-9]+$" />
				<p>
					Data de Nascimento: <input type="date" required="required"
						id="dataNasc" name="dataNasc" />
				<p>
					Telefone: <input type="text" name="telefone" id="telefone"
						pattern="\(\d{2}\)\d{4}-\d{4}" />
				<p>
					Cadastrado por: <input type="text" required="required"
						id="cadastradoPor" name="cadastradoPor" />
				<p>
					Data de cadastro: <input type="date" required="required"
						id="dataCadastro" name="dataCadastro" />
				<p>
					Nome de Usuário: <input type="text" required="required"
						id="nomeUsuario" name="nomeUsuario" />
				<p>
					Senha: <input type="password" required="required" id="senha"
						name="senha" />
				<p>
					Nível de Acesso: <input type="text" id="tipoUsuario"
						name="tipoUsuario" value="USUARIO" />
				<p>
					<button type="submit">Salvar</button>
				<p>
			</div>
		</fieldset>
	</form>
</body>
</html>